<!doctype html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>        
        <style type="text/css">
        body {
	        position: relative;
        }

        .image-wrapper {
          position: absolute;
	        transform: translate(-50%, -50%);
          opacity: 1;
        }

        .image-wrapper.fade-out {
	        opacity: 0;
	        transition: opacity 1s ease-in-out;
        }

        </style>
    </head>

      <body>
      </body>
    </div>
</html>