<html>
    <head>
        <title>Socket.IO</title>
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body>
        <div id="contentContainer">
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
        <script src="https://www.kirupa.com/prefixfree.min.js"></script>

        <script id='input' type='text/x-jquery-tmpl'>
            <input id=${uuid} class="thing" style="left:${x}px;top:${y}px;"> ${Name}</div>
        </script>

        <script id='passive' type='text/x-jquery-tmpl'>
            <input id=${uuid} class="thing" style="left:${x}px;top:${y}px;"> ${Name}</div>
        </script>

        <script src="/javascript/board.js"></script>
        <script src="/javascript/socketClient.js"></script>
</body>
</html>
